body {
  font-family: 'Roboto', sans-serif;
  color: #3C5148;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.hero {
  background: url("../assets/images/dog-1.jpg");
  background-size: cover;
  padding: 24px;
  height: 100vh;
  position: relative;
}

.hero h1 {
  width: 66%;
  color: #fff;
  font-size: 84px;
  padding: 24px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 24px;
  font-weight: 500;
  color: #fff;
}

.hero article {
  width: 33%;
  position: absolute;
  right: 100px;
  bottom: 10%;
}

.hero .hero-form {
  background: #fff;
  border: 1px solid #88B7A2;
  padding: 24px;
}

#userOptions {
  /* Reset Select */
  /* Custom Select */
  /* Arrow */
  /* Transition */
}

#userOptions fieldset {
  padding: 0 0 5px;
}

#userOptions label {
  display: block;
  margin: .5rem 0 0;
}

#userOptions .geo-locate {
  color: #3C5148;
  text-decoration: underline;
}

#userOptions .geo-locate:hover {
  color: #587769;
  cursor: pointer;
}

#userOptions .geo-locate i {
  padding-right: 10px;
  color: #3C5148;
}

#userOptions .location {
  padding: 10px;
  width: 100%;
  border-radius: .25em;
  border: 1px solid;
  height: 3em;
}

#userOptions .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#userOptions .form-wrap fieldset {
  width: 48%;
}

#userOptions .form-wrap fieldset:first-child, #userOptions .form-wrap fieldset:nth-child(3) {
  margin-right: 4%;
}

#userOptions .form-wrap fieldset:nth-child(3) {
  margin-top: 20px;
}

#userOptions .form-wrap fieldset:nth-child(3) label {
  margin: 0;
}

#userOptions select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}

#userOptions .select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #fff;
  border: 1px solid #3C5148;
  overflow: hidden;
  border-radius: .25em;
}

#userOptions select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .5em;
  color: #3C5148;
  cursor: pointer;
}

#userOptions .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: none;
  color: #3C5148;
  border-left: 1px solid #3C5148;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

#userOptions .select:hover::after {
  color: #587769;
}

#userOptions .fa-star {
  color: #88B7A2;
  font-size: 18px;
}

#userOptions .fa-star:hover, #userOptions .fa-star.checked {
  color: #3C5148;
  cursor: pointer;
}

#userOptions .submit {
  -webkit-appearance: none;
  width: 100%;
  min-height: 3em;
  border: 1px solid;
  border-radius: .25em;
  color: #fff;
  background: #3C5148;
  margin-top: 20px;
}

#userOptions .submit:hover {
  background: #587769;
}

#trailList, #selectedTrail, #currentWeather {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 80%;
  margin: 0 auto;
}

#trailList .stretched-link, #selectedTrail .stretched-link, #currentWeather .stretched-link {
  background-color: #3C5148;
}

#trailList .card, #selectedTrail .card, #currentWeather .card {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1%;
  border-color: #88B7A2;
}

#trailList .card .card-img, #selectedTrail .card .card-img, #currentWeather .card .card-img {
  width: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-size: cover;
}

#trailList .card .card-title, #selectedTrail .card .card-title, #currentWeather .card .card-title {
  margin-bottom: .75rem;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 700;
  color: #4F6B5E;
}

#selectedTrail {
  margin-top: 60px;
  min-height: 450px;
  color: #3C5148;
  display: none;
}

#selectedTrail .card {
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1%;
  border-color: #3C5148;
  background-color: #E9FCF3;
}

#selectedTrail .card .card-title {
  font-size: 40px;
  color: #3C5148;
}

#selectedTrail .card .card-text {
  font-size: 20px;
}

#selectedTrail .card-img {
  width: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-size: contain;
  background-position: center;
}

#currentWeather {
  text-align: center;
  font-size: x-large;
}

#currentWeather .card {
  background-color: #E9FCF3;
  margin-top: 60px;
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1%;
  border-color: #88B7A2;
}

#currentWeather .card .card-title {
  font-size: 50px;
}

@media only screen and (max-width: 1280px) {
  .hero h2 {
    font-size: 26px;
  }
  .hero article {
    width: 33%;
  }
}

@media only screen and (max-width: 1100px) {
  .hero article {
    width: 45%;
    right: 5%;
  }
}

@media only screen and (max-width: 860px) {
  .hero {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .hero h1 {
    width: 100%;
    font-size: 52px;
    padding: 5%;
  }
  .hero h2 {
    background: #3C5148;
    font-size: 18px;
    line-height: 1.5;
    padding: 24px;
  }
  .hero article {
    width: 90%;
    right: 5%;
    left: 5%;
  }
}
/*# sourceMappingURL=trailTails.css.map */